# Compiled binaries
a.out
*.out
*.o
*.obj
*.exe
module00/ex00/megaphone
module00/ex01/phonebook

# Libraries
*.a
*.so
*.dylib

# Debug
*.dSYM/
*.gch
*.pch

# Editor / OS
.vscode/
.idea/
*.swp
*~
.DS_Store

# Subject PDFs
*.pdf

ref/
stufffromintra/
